useDynLib(PDFEstimator, .registration = TRUE, .fixes = "C_")
export(estimatePDF)
export(convertToPDFe)
export(plotBeta)
export(getTarget)
S3method(plot, PDFe)
S3method(lines, PDFe)
S3method(print, PDFe)
S3method(summary, PDFe)
importFrom("grDevices", "gray.colors")
importFrom("graphics", ".filled.contour", "axis", "legend", "par", "plot", "plot.default",  "lines.default", "symbols")
importFrom("stats", "approx", "dbeta")

