useDynLib(PDFEstimator, .registration = TRUE, .fixes = "C_")
export(estimatePDF)
export(estimatePDFmv)
export(convertToPDFe)
export(plotBeta)
export(getTarget)
export(approximatePoints)
export(plot2d)
export(plot3d)
S3method(plot, PDFe)
S3method(lines, PDFe)
S3method(print, PDFe)
S3method(summary, PDFe)
S3method(summary, mvPDFe)
importFrom("grDevices", "gray.colors")
importFrom("graphics", ".filled.contour", "axis", "legend", "par", "plot", "plot.default",  "lines.default", "symbols")
importFrom("stats", "approx", "dbeta")
importFrom("plot3D", "persp3D", "slice3D")
importFrom("MultiRNG", "draw.d.variate.normal")
importFrom("methods", "is")


